@model IEnumerable<Article>
@{
    ViewData["Title"] = "Index";
}

<header class="header my-4">
    <div class="col-12 p-0">
        <h2>News and Stories</h2>
        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit auctor Aenean sollicitudin, adipisicing elit sed lorem quis bibendum auctor.</p>
    </div>
</header>
<section class="blog">

    @foreach (var item in Model)
    {
        <div class="col-lg-12">
            <header class="blog-title col-12 p-0">
                <h5>
                    <a asp-action="Article" asp-controller="Home" asp-route-id="@item.Id">@item.Name</a>
                </h5>
                <ul class="blog-title-info d-flex">
                    <li class="blog-title-info-items">
                        <i class="far fa-calendar-check"></i>
                        @item.AddedDate
                    </li>
                    <li class="blog-title-info-items">
                        <i class="fas fa-pencil-alt"></i>
                        @foreach (var cat in item.ArticleCategory)
                        {
                            @cat.Category.Name
                        }
                    </li>
                    <li class="blog-title-info-items">
                        <i class="far fa-comments"></i>
                        @item.CommentCount Comments
                    </li>
                </ul>
            </header>
            <div class="img col-12 p-0">
                <a asp-action="Article" asp-controller="Home" asp-route-id="@item.Id"> <img src="~/uploads/@item.PhotoPath" alt="Alternate Text" /></a>
                <div class="overlay"></div>
            </div>
            <div class="description col-12 p-0 my-3">
                <p>@item.Description</p>
            </div>
            <div class="col-12 read-more p-0">
                <a asp-action="Article" asp-controller="Home" asp-route-id="@item.Id">
                    <button class="btn btn-primary">Read More</button>
                </a>
            </div>
        </div>
        <hr />
    }

</section>

